@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,700&family=Yeseva+One&display=swap');

* { 
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #414040;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.header .logo {
    color: #fff;
    font-size: 20px;
}

.header .nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .menu {
    color: #fff;
}

.header .nav .menu:hover {
    color: rgb(251, 208, 216);
}

.main {
    width: 100%;
    background-image: url("img/background4.jpg");
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .title {
    color: #333;
    margin: calc(10vh + 50px) 0;
    font-size: 50px;
    font-weight: bold;
}

.main .content {
    width: 100%;
    display: flex;
    color: #333;
}

.first-part {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.first-part .first-block {
    width: 580px;
    height: 160px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.first-part .first-block .quote {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-part .first-block p {
    margin-left: 10px;
    font-size: 25px;
}

.first-part .first-block h2 {
    font-size: 30px;
    font-weight: bold;
}

.first-part .second-block {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.first-part .second-block p {
    font-size: 30px;
    font-weight: bold;
}

.first-part .second-block .socials {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-part .second-block .socials img {
    height: 100px;
    width: 100px;
    transition: transform 0.3s;
}

.first-part .second-block .socials img:hover {
    transform: scale(1.05);
}

.second-part {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-part .block {
    width: 600px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.second-part .block p {
    font-size: 20px;
} 

.second-part .block h2 {
    font-size: 30px;
    font-weight: bold;
}

.main .footer {
    min-height: 100px;
}


